# created:    20251120 / alphabeit
# lastupdate: 20251128 / alphabeit


  ################
  ##### DESC #####
  ##########################################################################################################################################################
  # allow to edit the metadata from multiple photos at once
  # please see inside templates, file: _meta.yaml
  #   you allowed to copy that file inside the folder with the pictures
  #   that file allow to predefine some metadata so that the role here just can run without interactions
  #   that will speed the things up
  # created for PhotoPrism so that I can change the metadata of a lots of pictures at once





  ################
  ##### VARS #####
  ##########################################################################################################################################################
  # ask for folder with photos and metadata file
  # prove, if metadata file exists
  #   when yes, also which data is set
  #   asks for the missings

  ### path ###
  ############

- name: ask, from which folder the phots should edit
  ansible.builtin.pause:
    prompt: Please enter path of folder with photos, who should edit
  register: path

- name: prove path
  ansible.builtin.stat:
    path: "{{ path.user_input }}"
  register: path_check

- name: end play
  ansible.builtin.debug:
    msg: Cant find path. Please ensure, path is available.
  when: ( not path_check.stat.exists )
- meta: end_play
  when: ( not path_check.stat.exists )



  ### metadata file ###
  #####################

- name: prove metadata file
  ansible.builtin.stat:
    path: "{{ path.user_input }}/_meta.yaml"
  register: meta_check

- name: include setted metadatas
  ansible.builtin.include_vars:
    file: "{{ path.user_input }}/_meta.yaml"
    name: meta
  when: ( meta_check.stat.exists )

- name: create template, when missing
  ansible.builtin.set_fact:
    meta: ""
  when: ( not meta_check.stat.exists )



  ### requirements ###
  ####################
  # ask every var from template

- name: read vars from template
  ansible.builtin.include_vars:
    file: "templates/_meta.yaml"
    name: template

- name: ask for undefined vars
  ansible.builtin.pause:
    prompt: 'Var "{{ item.key }}" is not set. Do you want to set a value? When not, leave empty'
  register: new_meta
  become: False
  when: ( meta[item.key] is undefined ) or 
        ( meta[item.key] is defined ) and ( meta[item.key] == None ) or
        ( meta[item.key] is defined ) and ( meta[item.key] == "" )
  with_items: "{{ template | dict2items }}"

- name: save new vars
  ansible.builtin.set_fact:
    meta: "{{ meta | combine({ item.item.key: item.user_input }) }}"
  become: False
  when: ( item.user_input is defined ) and ( item.user_input != "" )
  with_items: "{{ new_meta.results }}" # new metadata





  ################
  ##### EXEC #####
  ##########################################################################################################################################################
  # ensure, exiftool (terminal-application) is available

  ### exiftool ###
  ################

- name: ensure, exiftool is installed
  ansible.builtin.shell:
    cmd: env PATH="$PATH:/usr/bin/vendor_perl" which exiftool
  register: exiftool_check
  ignore_errors: True

- name: install exiftool
  ansible.builtin.package:
    name: exiftool
    state: present
    


  ### write metadata ###
  ######################
  # loop only defined metadatas

- name: define filenedings of pictures
  # you need to set here the endings of all files
  # who should include
  ansible.builtin.set_fact:
    file_endings:
      - .jpg
      - .jpeg
      - .JPG
      - .JPEG
      - .png
      - .PNG
      - .HEIC

- name: change metadata
  ansible.builtin.shell:
    cmd: 'export PATH="$PATH:/usr/bin/vendor_perl"; ls *[{{ file_endings | join(",") }}] | xargs exiftool -{{ item.key }}="{{ item.value }}"'
    chdir: "{{ path.user_input }}"
  become: False
  when: ( item.value != "" )
  with_items:
    - "{{ meta | dict2items }}"
  register: result
  failed_when: ( result.rc != 0 ) and ( "File not found" is not in result.stderr )  # like: ignore, when result is "File not found"

- name: remove copies
  ansible.builtin.shell:
    cmd: "rm -f *_original"
    chdir: "{{ path.user_input }}"
  become: False
